<div class="home-page">
  <ul class="filters-container">
    <li class="filter selected">Name</li>
    <li class="filter">Released</li>
    <li class="filter">Created</li>
    <li class="filter">Updated</li>
    <li class="filter">Rating</li>
    <li class="filter">Metacritic</li>
  </ul>
  <span class="filters-title">Name</span>
  <div class="cards-container">
    <div class="card-item">
      <figure class="card-figure">
        <img
          src="../../../assets/images/Shang-Chi-and-the-Legend-of-the-Ten-Rings-Releases-New.jpg"
          class="card-image"
          alt="card"
        />
      </figure>
      <span class="card-title">Black Widow</span>
    </div>
  </div>
</div>
